:root {
  --primary-color: green;
  --secondary-color: white;
  --tertiary-color: grey;
  --graph-primary-color: red;
}

:root {
  height: 100%;
}

body {
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
}

.graphBars {
  font: 14px sans-serif;
  background-color: var(--primary-color);
  text-align: right;
  padding: 10px;
  margin: 1px;
  color: white;
}

.export {
  margin: 0 auto;
  text-align: center;
}

.container  {
  padding-top: 50px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.col-md-4, .col-xs-10 {
  margin: 0 auto;
}

p {
  margin: 0 auto;
  max-width: 600px;
  padding: 10px;
}

.navbar {
  margin-bottom: 5px;
}

.graphContainer {
  width: 100px;
  margin: 20px 0 20px 0;
}

Form {
  text-align: left;
}

.btn {
  width: 100%;
}

.nav-link {
  text-align: right;
  border-bottom: 1px solid rgba(0,0,0,0);
}

.nav-link:hover {
  color: var(--primary-color) !important;
  border-bottom: 1px solid var(--tertiary-color);
}

.img-responsive {
  margin: 50px auto;
  width: 30%;
  min-width: 300px;
  max-width: 600px;
}

.footerbar a:hover {
    color: var(--primary-color);
    border-bottom: 1px solid black;
    text-decoration: none;
    transition: color .3s;
}

.scatterPlotContainer {
  width: 600px;
  height: 600px;
}

.plotPoint {
  background-color: var(--graph-primary-color);
}
