.App {
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #4d505b;
}

.Dashboard {
  text-align: center;
  width: 70%;
  float:right;
}

.Dashboard-logo {
  height: 40vmin;
  pointer-events: none;
}

.Dashboard-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Widget-bar {
  width:30%;
  float:left;
}

.Widget {
  text-align: center;
  padding:20px;
  background-color: #5e96d6;
  font-size: calc(8px + 2vmin);
}

a {
  color: white;
  text-decoration: none;
}

.Widget-header {
  font-size: calc(16px + 2vmin);
}