@import './components/colors.scss';

.graphBars {
  font: 14px sans-serif;
  background-color: $primary-color;
  text-align: right;
  padding: 10px;
  margin: 1px;
  color: white;
}

.export {
  margin: 0 auto;
  text-align: center;
}

.container  {
  padding-top: 50px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.col-md-4, .col-xs-10 {
  margin: 0 auto;
}

p {
  margin: 0 auto;
  max-width: 600px;
  padding: 10px;
}

ol {
  margin: 0 auto;
  max-width: 550px;
  padding: 10px;
}

.navbar {
  margin-bottom: 5px;
}

.graphContainer {
  width: 100px;
  margin: 20px 0 20px 0;
}

Form {
  text-align: left;
}
.nav-link {
  text-align: right;
  border-bottom: 1px solid rgba(0,0,0,0);
}

.nav-link:hover {
  color: $primary-color !important;
  border-bottom: 1px solid $tertiary-color;
}

.img-responsive {
  margin: 50px auto;
  width: 30%;
  min-width: 300px;
  max-width: 600px;
}

.footerbar {
  left:0;
  bottom:0;
  right:0;
  border-top: 1px solid grey;
  display: table;
  margin: 0 auto;
  height: 50px;
  width: 50%;
  text-align: center;
  font-size: 12px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.footerbar-left {
  padding-top: 30px;
  text-align: left;
  display: table-cell;
}

.footerbar-center {
  text-align: center;
  display: table-cell;
}

.footerbar-right {
    text-align: right;
    display: table-cell;
}

.footerbar a {
  color: grey;
  margin-left: 10px;
}

.footerbar a:hover {
    color: $primary-color;
    border-bottom: 1px solid black;
    text-decoration: none;
    transition: color .3s;
}

#scatterContainer {
  width: 40%;
}

#scatterCard {
  padding: 20px;
  width: 100%;
}

.plotPoint {
  fill: $graph-color;
}
