table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-radius: 4px;
}

td,
th {
  border: 1px solid rgb(19, 27, 41);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(46, 58, 84);
}
