.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
  transition: transform 150ms ease-in-out;
}

.img-overlay-wrap img {
  /* <= optional, for responsiveness */
  display: block;
  max-width: 100%;
  height: auto;
}

.img-overlay-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
}

circle {
  fill: #f3b298;
  stroke: rgba(0, 0, 0, 0.5);
}

circle:hover {
  cursor: pointer;
}

.popup {
  fill: rgba(46, 46, 46, 0.8);
}

.popup-text {
  fill: white;
  font-size: 5px;
  text-anchor: middle;
}

.selectedBuilding {
  fill: rgb(233, 100, 38);
}

svg {
  height: 530px;
  width: 100%;
}

button {
  background-color: #edac1a;
  border: none;
  height: 40px;
  padding: 5px 15px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}

button:hover {
  cursor: pointer;
  background-color: #cc9107;
}

button:focus {
  outline: 0;
}

.datetime {
  border: 2px solid #edac1a;
  height: 36px;
  padding: 1px 15px;
  color: black;
  font-size: 16px;
  font-weight: 300;
}

.datetime:focus {
  outline: 0;
}
