.buildingCardLink {
    color: inherit !important;
    text-decoration: none !important;
    transition: .7s;
}
  
.buildingCardLink:hover {
    font-size: 36px;
    transition: .7s;
}

a {
    color: inherit !important;
    text-decoration: none !important;
    transition: .7s;
}